@model List<ARSystemFrontEnd.Domain.Models.trxARCashInForecastApprovalLog>

@{


    int currentQuarter = Convert.ToInt32(Math.Floor((decimal)((DateTime.Today.AddMonths(-1).Month) + 2) / 3));
    string[] monthsOfQuarters = (currentQuarter == 1) ? monthsOfQuarters = new string[] { "JAN", "FEB", "MAR" } : (currentQuarter == 2) ? monthsOfQuarters = new string[] { "APR", "MAY", "JUN" } :
(currentQuarter == 3) ? monthsOfQuarters = new string[] { "JUL", "AUG", "SEP" } : (currentQuarter == 4) ? monthsOfQuarters = new string[] { "OCT", "NOV", "DEC" } : new string[] { "", "", "" };
    int numberOfMonthWithinQuarter = 0;
    int startMonth = currentQuarter * 3 - 2;
    for (int i = 0; i < 3; i++)
    {
        if (DateTime.Today.AddMonths(-1).Month == (startMonth + i))
        {
            numberOfMonthWithinQuarter = i + 1;
        }
    }
    string sGridTotalQuarter = String.Format("Total Q{0} {1}", currentQuarter, DateTime.Today.AddMonths(-1).Year);
    string sGridVarianceQuarter = String.Format("Variance Q{0} {1}", currentQuarter, DateTime.Today.AddMonths(-1).Year);

}<style>
    table#tbltrxARInputForecastVsForecast th{
            vertical-align: middle;
    }
    .bg-color-total{
        background-color:#f7f7f7;
    }
</style>
<section id="gridPnltrxARInputForecastVsForecast">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="fa fa-table"></i>
                        <span class="caption-subject bold">Input Forecast Vs Forecast</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="tbltrxARInputForecastVsForecast" cellspacing="0">
                        <thead>
                            <tr>
                                <th rowspan="4">Act</th>
                                <th rowspan="4">Operator</th>
                                <th colspan="8">Forecast Produce Last Month</th>
                                <th colspan="8">Forecast Produce Current Month</th>
                            </tr>
                            <tr>
                                <th colspan="2"> <span class="sGridMonth1">@(monthsOfQuarters[0])</span></th>
                                <th colspan="2"> <span class="sGridMonth2">@(monthsOfQuarters[2])</span></th>
                                <th colspan="2"> <span class="sGridMonth3">@(monthsOfQuarters[2])</span></th>
                                <th rowspan="2" colspan="2" class="bg-color-total"><span class="sGridTotalQuarter">@(sGridTotalQuarter)</span></th>
                                <th colspan="2"> <span class="sGridMonth1">@(monthsOfQuarters[0])</span></th>
                                <th colspan="2"> <span class="sGridMonth2">@(monthsOfQuarters[2])</span></th>
                                <th colspan="2"> <span class="sGridMonth3">@(monthsOfQuarters[2])</span></th>
                                <th rowspan="2" colspan="2" class="bg-color-total"><span class="sGridTotalQuarter">@(sGridTotalQuarter)</span></th>
                                <th rowspan="2" colspan="2"><span class="sGridVarianceQuarter">@(sGridVarianceQuarter)</span></th>
                                <th rowspan="3">Remarks</th>

                            </tr>
                            <tr>
                                <th colspan="2"><span class="sGridTypeLPeriodM1">@((1 < numberOfMonthWithinQuarter) ? "Actual" : "Forecast")</span></th>
                                <th colspan="2"><span class="sGridTypeLPeriodM2">@((2 < numberOfMonthWithinQuarter) ? "Actual" : "Forecast")</span></th>
                                <th colspan="2"><span class="sGridTypeLPeriodM3">@((3 < numberOfMonthWithinQuarter) ? "Actual" : "Forecast")</span></th>

                                <th colspan="2"><span class="sGridTypeCPeriodM1">@((1 <= numberOfMonthWithinQuarter) ? "Actual" : "Forecast")</span></th>
                                <th colspan="2"><span class="sGridTypeCPeriodM2">@((2 <= numberOfMonthWithinQuarter) ? "Actual" : "Forecast")</span></th>
                                <th colspan="2" style="border-right: 1px solid #e9edf2;"><span class="sGridTypeCPeriodM3">@((3 <= numberOfMonthWithinQuarter) ? "Actual" : "Forecast")</span></th>
                            </tr>
                            <tr>
                                <th>IDR</th>
                                <th>USD</th>
                                <th>IDR</th>
                                <th>USD</th>
                                <th>IDR</th>
                                <th>USD</th>
                                <th style="background-color:#f7f7f7">IDRA</th>
                                <th style="background-color:#f7f7f7">USDA</th>

                                <th>IDR</th>
                                <th>USD</th>

                                <th>IDR</th>
                                <th>USD</th>


                                <th>IDR</th>
                                <th>USD</th>
                                <th style="background-color:#f7f7f7">IDRA</th>
                                <th style="background-color:#f7f7f7">USD</th>
                                <th>IDR</th>
                                <th style="border-right: 1px solid #e9edf2;">USD</th>

                            </tr>
                        </thead>
                    </table>
@if (Model != null)
{
    int i = 0;
                        <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-check-square-o"></i>
                                        <span class="caption-subject">Approval</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <form id="approvalFormForecastVsForecast" name="approvalFormForecastVsForecast" class="form-horizontal" role="form">
                                        <input type="hidden" value="@ViewBag.JogetProcessOID" id="ProcessOIDFcVsFc" name="ProcessOIDFcVsFc" />
                                        
                                        <div class="form-body p-b-25">
@foreach (var approvalModel in Model.OrderBy(m => m.ApprovalSequence))
    {
        i = i + 1;
        <div class="row">
         <div class="col-md-7 p-l-35">
    <h5><i class="fa fa-check-square-o p-r-10" aria-hidden="true"></i>@(i == 1 ? "Section Head Approval" : i == 2 ? "Department Head Approval" : "")</h5>
</div>
@if (i == 2 || (i == 1 && approvalModel.ActionDate != null))
{
                <div class="col-md-7">
                    <div class="form-group">
                        <label class="col-md-3 control-label">@(approvalModel.ActionDate != null ? "Action By" : "Waiting Approval From")</label>
                        <label class="col-md-6 p-t-10">@approvalModel.ActionBy</label>
                        @*<label class="col-md-3 p-t-10">@approvalModel.ActionDate</label>*@
                    </div>
                </div>
            }

            <div class="col-md-7">
                <div class="form-group">
                    <label class="col-md-3 control-label">Action<i class="font-red"></i></label>
                    <div class="col-md-6">
                        @if (approvalModel.ActionDate != null &&
                                                                    ((i == 1 && ViewBag.ApprovalStatusCurrentPeriod != "act_ReviseSectionHead") ||
                                                                    (i == 2 && ViewBag.ApprovalStatusCurrentPeriod == "act_ReviseSectionHead")))
                        {
                            <span class="p-t-10">@approvalModel.Action</span>
                        }
                        else if (ViewBag.IsApprovalUser == true &&
                            ((i == 1 && !(ViewBag.ApprovalStatusCurrentPeriod == "act_DeptHeadApproval" || ViewBag.ApprovalStatusCurrentPeriod == "act_ClosedCashInPeriod")) ||
                                (i == 2 && ViewBag.ApprovalStatusCurrentPeriod == "act_DeptHeadApproval")))
                        {
                            <select class="form-control" id="approvalActionForecastForecast" name="approvalActionForecastForecast" )>
                                <option>Select Action</option>
                                <option value="Approved" @(approvalModel.Action == "Approved" ? "selected='selected'" : "")>Approved</option>
                                <option value="Rejected" @(approvalModel.Action == "Rejected" ? "selected='selected'" : "")>Rejected</option>
                            </select>
                                                                        <input type="hidden" id="approvalTypeForecastForecast" name="approvalTypeForecastForecast" value="@approvalModel.ApprovalType" />
                        }
                        else
                        {
                            <span class="p-t-10">@approvalModel.Action</span>
                        }

                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="form-group">
                    <label class="col-md-3 control-label">Remarks<i class="font-red"></i></label>
                    <div class="col-md-6">
                        @if (approvalModel.ActionDate != null &&
                                                                ((i == 1 && ViewBag.ApprovalStatusCurrentPeriod != "act_ReviseSectionHead") ||
                                                                (i == 2 && ViewBag.ApprovalStatusCurrentPeriod == "act_ReviseSectionHead")))

                        {
                            <span class="p-t-10">@approvalModel.Remarks</span>
                        }
                        else if (ViewBag.IsApprovalUser == true &&
                                ((i == 1 && !(ViewBag.ApprovalStatusCurrentPeriod == "act_DeptHeadApproval" || ViewBag.ApprovalStatusCurrentPeriod == "act_ClosedCashInPeriod")) ||
                                    (i == 2 && ViewBag.ApprovalStatusCurrentPeriod == "act_DeptHeadApproval")))
                        {
                            <textarea class="form-control" id="approvalRemarksForecastForecast" name="approvalRemarksForecastForecast" rows="5" )>@approvalModel.Remarks</textarea>

                        }
                        else
                        {
                            <span class="p-t-10">@approvalModel.Remarks</span>
                        }
                    </div>
                </div>
            </div>
        </div>
}
    <div class="row">
        <div class="col-md-7">
            <div class="col-md-3"></div>
            @if (ViewBag.IsApprovalUser == true)
            {
                <div class="col-md-6"><button class="btn green pull-right" id="btnSendApprovalFormFcVsFc"><i class="fa fa-check"></i> Submit</button></div>
            }

        </div>
    </div>
                            
                                        </div>

                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
}
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var isFcFcApproval = "@ViewBag.IsApprovalUser"
</script>