
@{
    ViewBag.Title = "TrxElectricityConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .height59 {
        height: 59px;
    }
    /* Start of CSS for fixing layouts in JQuery Datatables with Freeze Columns */

    .panelSearchResult .table-scrollable {
        border: none !important;
    }

    /* End of CSS for fixing layouts in JQuery Datatables with Freeze Columns */
    table tbody tr td {
        font-size: 12px !important;
    }

    th {
        font-size: 12px !important;
        text-align: center;
    }

    table.dataTable tbody td {
      vertical-align: middle;
    }
</style>
<section id="pnlSummary">

    @Html.Partial("_PanelSearchBegin")
    @Html.Partial("_PanelSearchZero")

    @*Search Result*@
    <div class="row panelSearchResult ">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-blue-steel">
                        <i class="fa fa-table"></i>
                        <span class="caption-subject">Search Result</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable tabbable-tabdrop" id="tabBAPS">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tabBAPSReceive" data-toggle="tab">Electricity Receive</a>
                            </li>
                            <li>
                                <a href="#tabBAPSConfirm" data-toggle="tab">Electricity Confirm</a>
                            </li>
                            <li>
                                <a href="#tabBAPSReject" data-toggle="tab">Electricity Reject</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="col-md-12">
                                @*Filter*@
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="portlet box blue">
                                            <div class="portlet-title">
                                                <div class="caption font-white">
                                                    <i class="fa fa-filter"></i>
                                                    <span class="caption-subject">Filter</span>
                                                </div>
                                                <div class="tools">
                                                    <a href="" class="collapse"> </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body form">
                                                <form id="formSearch" class="form-horizontal" role="form">
                                                    <div class="form-body">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">Period</label>
                                                                    <div class="col-md-4">
                                                                        <select id="slSearchYearFrom" class="form-control select2 SearchYearFilter"></select>
                                                                    </div>
                                                                    <label class="col-md-1 control-label"> To </label>
                                                                    <div class="col-md-4">
                                                                        <select id="slSearchYearTo" class="form-control select2 SearchYearFilter"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">Operator</label>
                                                                    <div class="col-md-9">
                                                                        <select id="slSearchOperator" class="form-control select2"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" id="rowFilterConfirm">
                                                                    <label class="col-md-3 control-label">Confirm Type</label>
                                                                    <div class="col-md-9">
                                                                        <select id="slSearchConfirmType" class="form-control select2" onchange="Form.ConfirmButton();">
                                                                            <option value="RTI">RTI</option>
                                                                            <option value="INV">Done Invoice</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">Company</label>
                                                                    <div class="col-md-8">
                                                                        <select id="slSearchCompanyName" class="form-control select2"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">Regional</label>
                                                                    <div class="col-md-8">
                                                                        <select id="slSearchRegion" class="form-control select2"></select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-actions text-center">
                                                        <button type="button" id="btSearch" class="btn blue mt-ladda-btn ladda-button" data-style="zoom-in">
                                                            <i class="fa fa-search"></i> Search
                                                        </button>
                                                        <button type="button" id="btReset" class="btn blue-oleo">
                                                            <i class="fa fa-refresh"></i> Reset
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="height59">
                                    <span></span>
                                </div>
                            </div>
                            <div class="tab-pane active" id="tabBAPSReceive">
                                <table class="table table-striped table-bordered table-hover datatable-custom-width" id="tblSummaryDataReceive">
                                    <thead>
                                        <tr>
                                            <th class="datatable-col-10 select-all-receive">
                                            </th>
                                            <th class="datatable-col-70">SO Number</th>
                                            <th class="datatable-col-70">Site ID Opr</th>
                                            <th class="datatable-col-70">Site ID</th>
                                            <th class="datatable-col-200">Site Name</th>
                                            <th class="datatable-col-70">Company Invoice</th>
                                            <th class="datatable-col-70">Operator Invoice</th>
                                            <th class="datatable-col-75">Start Date</th>
                                            <th class="datatable-col-75">End Date</th>
                                            <th class="datatable-col-200">Expense Number</th>
                                            <th class="datatable-col-50">PPH Type</th>
                                            <th class="datatable-col-70">Is Loss PPN</th>
                                            <th class="datatable-col-75">Transfer Date</th>
                                            <th class="datatable-col-75">Account Number</th>
                                            <th class="datatable-col-150">Account Name</th>
                                            <th class="datatable-col-150">Bank Destination</th>
                                            <th class="datatable-col-75">Payment Reference</th>
                                            <th class="datatable-col-75">Transaction Amount</th>
                                            <th class="datatable-col-70">Voucher No</th>
                                            <th class="datatable-col-70">Document Number</th>
                                            <th class="datatable-col-50">Currency</th>
                                            <th class="datatable-col-100">Amount Total</th>
                                            <th class="datatable-col-350">Description</th>
                                        </tr>
                                        <tr>
                                            <th class="datatable-col-40"></th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schSONumber" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchData" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schSiteIDOpr" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchData" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schSiteID" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchData" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schSiteName" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchData" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schCompanyID" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchData" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schCustomerID" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchData" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th></th>
                                            <th></th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schExpenseNumber" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchData" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schAccountNumber" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchData" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schAccountName" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchData" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schBankName" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchData" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th></th>
                                            <th></th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schVoucherNumber" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchData" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schDescription" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchData" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tab-pane" id="tabBAPSConfirm">
                                <div class="col-md-12">
                                    <div class="row">
                                        <table class="table table-striped table-bordered table-hover datatable-custom-width" id="tblSummaryData">
                                            <thead>
                                                <tr>
                                                    <th class="datatable-col-10 select-all-confirm">
                                                    </th>
                                                    <th class="datatable-col-70">Approve Date</th>
                                                    <th class="datatable-col-70">SO Number</th>
                                                    <th class="datatable-col-70">Site ID Opr</th>
                                                    <th class="datatable-col-70">Site ID</th>
                                                    <th class="datatable-col-200">Site Name</th>
                                                    <th class="datatable-col-70">Company Invoice</th>
                                                    <th class="datatable-col-70">Operator Invoice</th>
                                                    <th class="datatable-col-75">Start Date</th>
                                                    <th class="datatable-col-75">End Date</th>
                                                    <th class="datatable-col-200">Expense Number</th>
                                                    <th class="datatable-col-50">PPH Type</th>
                                                    <th class="datatable-col-70">Is Loss PPN</th>
                                                    <th class="datatable-col-75">Transfer Date</th>
                                                    <th class="datatable-col-75">Account Number</th>
                                                    <th class="datatable-col-150">Account Name</th>
                                                    <th class="datatable-col-150">Bank Destination</th>
                                                    <th class="datatable-col-75">Payment Reference</th>
                                                    <th class="datatable-col-75">Transaction Amount</th>
                                                    <th class="datatable-col-70">Voucher No</th>
                                                    <th class="datatable-col-70">Document Number</th>
                                                    <th class="datatable-col-50">Currency</th>
                                                    <th class="datatable-col-100">Amount Total</th>
                                                    <th class="datatable-col-100">Invoice Date</th>
                                                    <th class="datatable-col-150">Invoice Number</th>
                                                    <th class="datatable-col-350">Description</th>
                                                </tr>
                                                <tr>
                                                    <th class="datatable-col-40"></th>
                                                    <th class="datatable-col-40"></th>
                                                    <th class="datatable-col-200">
                                                        <div class="input-group input-group-sm">
                                                            <input type="text" id="schSONumberConfirm" class="form-control" />
                                                            <span class="input-group-btn">
                                                                <button class="btn blue btn-small btnSearchConfirm" type="button">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </th>
                                                    <th class="datatable-col-200">
                                                        <div class="input-group input-group-sm">
                                                            <input type="text" id="schSiteIDOprConfirm" class="form-control" />
                                                            <span class="input-group-btn">
                                                                <button class="btn blue btn-small btnSearchConfirm" type="button">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </th>
                                                    <th class="datatable-col-200">
                                                        <div class="input-group input-group-sm">
                                                            <input type="text" id="schSiteIDConfirm" class="form-control" />
                                                            <span class="input-group-btn">
                                                                <button class="btn blue btn-small btnSearchConfirm" type="button">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </th>
                                                    <th class="datatable-col-200">
                                                        <div class="input-group input-group-sm">
                                                            <input type="text" id="schSiteNameConfirm" class="form-control" />
                                                            <span class="input-group-btn">
                                                                <button class="btn blue btn-small btnSearchConfirm" type="button">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </th>
                                                    <th class="datatable-col-200">
                                                        <div class="input-group input-group-sm">
                                                            <input type="text" id="schCompanyIDConfirm" class="form-control" />
                                                            <span class="input-group-btn">
                                                                <button class="btn blue btn-small btnSearchConfirm" type="button">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </th>
                                                    <th class="datatable-col-200">
                                                        <div class="input-group input-group-sm">
                                                            <input type="text" id="schCustomerIDConfirm" class="form-control" />
                                                            <span class="input-group-btn">
                                                                <button class="btn blue btn-small btnSearchConfirm" type="button">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </th>
                                                    <th></th>
                                                    <th></th>
                                                    <th class="datatable-col-200">
                                                        <div class="input-group input-group-sm">
                                                            <input type="text" id="schExpenseNumberConfirm" class="form-control" />
                                                            <span class="input-group-btn">
                                                                <button class="btn blue btn-small btnSearchConfirm" type="button">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th class="datatable-col-200">
                                                        <div class="input-group input-group-sm">
                                                            <input type="text" id="schAccountNumberConfirm" class="form-control" />
                                                            <span class="input-group-btn">
                                                                <button class="btn blue btn-small btnSearchConfirm" type="button">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </th>
                                                    <th class="datatable-col-200">
                                                        <div class="input-group input-group-sm">
                                                            <input type="text" id="schAccountNameConfirm" class="form-control" />
                                                            <span class="input-group-btn">
                                                                <button class="btn blue btn-small btnSearchConfirm" type="button">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </th>
                                                    <th class="datatable-col-200">
                                                        <div class="input-group input-group-sm">
                                                            <input type="text" id="schBankNameConfirm" class="form-control" />
                                                            <span class="input-group-btn">
                                                                <button class="btn blue btn-small btnSearchConfirm" type="button">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </th>
                                                    <th></th>
                                                    <th></th>
                                                    <th class="datatable-col-200">
                                                        <div class="input-group input-group-sm">
                                                            <input type="text" id="schVoucherNumberConfirm" class="form-control" />
                                                            <span class="input-group-btn">
                                                                <button class="btn blue btn-small btnSearchConfirm" type="button">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th class="datatable-col-200">
                                                        <div class="input-group input-group-sm">
                                                            <input type="text" id="schDescriptionConfirm" class="form-control" />
                                                            <span class="input-group-btn">
                                                                <button class="btn blue btn-small btnSearchConfirm" type="button">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabBAPSReject">
                                <table class="table table-striped table-bordered table-hover datatable-custom-width" id="tblSummaryDataReject">
                                    <thead>
                                        <tr>
                                            <th class="datatable-col-75">Reject Date</th>
                                            <th class="datatable-col-70">SO Number</th>
                                            <th class="datatable-col-100">Pica</th>
                                            <th class="datatable-col-200">Reject Remark</th>
                                            <th class="datatable-col-70">Site ID Opr</th>
                                            <th class="datatable-col-70">Site ID</th>
                                            <th class="datatable-col-200">Site Name</th>
                                            <th class="datatable-col-70">Company Invoice</th>
                                            <th class="datatable-col-70">Operator Invoice</th>
                                            <th class="datatable-col-70">Period</th>
                                            <th class="datatable-col-70">Year</th>
                                            <th class="datatable-col-100">Exp Number</th>
                                            <th class="datatable-col-75">Amount Invoice</th>
                                            <th class="datatable-col-75">Status</th>
                                        </tr>
                                        <tr>
                                            <th class="datatable-col-40"></th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schSONumberReject" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchReject" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schPICA" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchReject" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schRejectRemarks" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchReject" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schSiteIDOprReject" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchReject" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schSiteIDReject" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchReject" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schSiteNameReject" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchReject" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schCompanyIDReject" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchReject" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schCustomerIDReject" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchReject" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schBapsPeriod" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchReject" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schYearPeriod" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchReject" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schExpenseNumberReject" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchReject" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th></th>
                                            <th class="datatable-col-200">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="schStatusReject" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue btn-small btnSearchReject" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" id="btReceive" class="btn green">
                            <i class="fa fa-check"></i>Receive
                        </button>
                        <button type="button" id="btConfirm" class="btn green">
                            <i class="fa fa-check"></i>Confirm
                        </button>
                        <button type="button" id="btReject" class="btn red">
                            <i class="fa fa-times"></i> Reject
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="mdlDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Detail Data</h4>
            </div>
            <div class="modal-body">
                <form action="#" id="formDetailData" class="sky-form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading"><span class="panel-title">Basic Information</span></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">SO Number</label>
                                                <input type="text" id="tbDetailSONumber" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Site ID Operator</label>
                                                <input type="text" id="tbDetailSiteIdOpr" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Site ID</label>
                                                <input type="text" id="tbDetailSiteId" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Site Name</label>
                                                <input type="text" id="tbDetailSiteName" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Region</label>
                                                <input type="text" id="tbDetailRegion" class="form-control">
                                            </div>


                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Company Invoice</label>
                                                <input type="text" id="tbDetailCompanyInvoice" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Operator Invoice</label>
                                                <input type="text" id="tbDetailOprInvoice" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label control-label">Period</label>
                                                <input type="text" id="tbDetailBapsPeriod" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Year</label>
                                                <input type="text" id="tbDetailYear" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Province</label>
                                                <input type="text" id="tbDetailProvince" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="panel panel-default">
                                <div class="panel-heading"><span class="panel-title">Commercial Information</span></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Expense Number</label>
                                                <input type="text" id="tbDetailExpenseNumber" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">PPH Type</label>
                                                <input type="text" id="tbDetailPPHType" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Transfer Date</label>
                                                <input type="text" id="tbDetailTransferDate" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Account Number</label>
                                                <input type="text" id="tbDetailAccountNumber" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Account Name</label>
                                                <input type="text" id="tbDetailAccountName" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Currency</label>
                                                <input type="text" id="tbDetailCurrency" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Bank Destination</label>
                                                <input type="text" id="tbDetailBankName" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Payment Reference</label>
                                                <input type="text" id="tbDetailPaymentReference" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Transaction Amount</label>
                                                <input type="text" id="tbDetailExpenseAmount" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Voucher</label>
                                                <input type="text" id="tbDetailVoucher" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Document Number</label>
                                                <input type="text" id="tbDetailDocumentNumber" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Amount</label>
                                                <input type="text" id="tbDetailAmount" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Additional Information</label>
                                                <textarea id="tbDetailDescription" class="form-control" rows="3">
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" id="btUpdateAmount" class="btn blue NeedRounding">
                    <i class="fa fa-save"></i> Update Amount
                </button>
                <button type="button" data-dismiss="modal" id="btDismiss" class="btn blue-oleo">
                    <i class="fa fa-chevron-left"></i> Dismiss
                </button>
            </div>
        </div>
    </div>
</div>

<div id="mdlConfirmBAPS" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Confirm BAPS</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-12 control-label text-center">Are You Sure Want to Confirm?</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-4">
                        <button type="button" id="btYesConfirm" class="btn green">
                            <i class="fa fa-check"></i> Yes
                        </button>

                        <button type="button" data-dismiss="modal" id="btNoConfirm" class="btn red">
                            <i class="fa fa-times"></i> No
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="mdlRejectBAPS" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Reject BAPS</h4>
            </div>
            <form id="formReject">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="col-md-12 control-label text-center">Do You Want to Reject This Data?</label>
                            <div class="form-group">
                                <label class="control-label">Reject Type<i class="font-red">*</i></label>
                                <select id="slHeaderDescription" class="form-control select2" required></select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Category<i class="font-red">*</i></label>
                                <select id="slCategory" class="form-control select2" required></select>
                            </div>
                            @*<div class="form-group">
                                    <label class="control-label">PIC<i class="font-red">*</i></label>
                                    <select id="slPIC" class="form-control select2" required></select>
                                </div>*@
                            <div class="form-group">
                                <label class="control-label">Email Recipient</label>
                                <textarea class="form-control" rows="4" id="tbEmailRecipient" readonly></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Email CC</label>
                                <textarea class="form-control" rows="4" id="tbEmailCC" readonly></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Remarks<i class="font-red">*</i></label><span id="spRemarks" class="font-red"></span>
                                <textarea class="form-control" rows="3" id="tbRemarks" placeholder="Remarks" required></textarea>
                            </div>
                            <button type="submit" id="btYesReject" class="btn green">
                                <i class="fa fa-check"></i> Yes
                            </button>
                            <button type="button" data-dismiss="modal" id="btNoReject" class="btn red">
                                <i class="fa fa-times"></i> No
                            </button>
                        </div>
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<input type="hidden" id="hdAllowProcess" value="@ViewBag.AllowProcess" />
<input type="hidden" id="hdAllowCancel" value="@ViewBag.AllowCancel" />

<script src="@Url.Content("~/scripts/invoicetransaction/TrxElectricityConfirm.js")" type="text/javascript"></script>


