@using ARSystemFrontEnd.Helper;
@{
    ViewBag.Title = "Posting Invoice Tower";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    /* Start of CSS for fixing layouts in JQuery Datatables with Freeze Columns */

    .panelSearchResult .table-scrollable {
        border: none !important;
    }

    /* End of CSS for fixing layouts in JQuery Datatables with Freeze Columns */
</style>

<section id="pnlSummary">
    @*Filter*@
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption font-white">
                        <i class="fa fa-filter"></i>
                        <span class="caption-subject ">Filter</span>
                    </div>
                    <div class="tools">
                        <a href="" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form id="formSearch" class="form-horizontal" role="form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Term Invoice</label>
                                        <div class="col-md-9">
                                            <select id="slSearchTermInvoice" class="form-control select2"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Operator</label>
                                        <div class="col-md-9">
                                            <select id="slSearchOperator" class="form-control select2"></select>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Company</label>
                                        <div class="col-md-9">
                                            <select id="slSearchCompanyName" class="form-control select2"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Invoice Status</label>
                                        <div class="col-md-9">
                                            <select id="slSearchInvoiceStatus" class="form-control select2"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Invoice No</label>
                                        <div class="col-md-9">
                                            <input type="text" id="tbInvNo" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Invoice Manual</label>
                                        <div class="col-md-9">
                                            <div class="mt-radio-inline">
                                                <label class="mt-radio">
                                                    <input type="radio" id="rbAll" name="rbInvoiceManual" value="-1" checked> All
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio">
                                                    <input type="radio" id="rbInvoiceManualYes" name="rbInvoiceManual" value="1"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio">
                                                    <input type="radio" id="rbInvoiceManualNo" name="rbInvoiceManual" value="0"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions text-center">
                            <button type="button" id="btSearch" class="btn blue mt-ladda-btn ladda-button" data-style="zoom-in">
                                <i class="fa fa-search"></i> Search
                            </button>
                            <button type="button" id="btReset" class="btn blue-oleo">
                                <i class="fa fa-refresh"></i> Reset
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_PanelSearchBegin")
    @Html.Partial("_PanelSearchZero")

    @*Search Result*@
    <div class="row panelSearchResult ">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-blue-steel">
                        <i class="fa fa-table"></i>
                        <span class="caption-subject ">List Site Invoice</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover datatable-custom-width" id="tblSummaryData">
                        <thead>
                            <tr>
                                <th class="datatable-col-10"></th>
                                <th class="datatable-col-150">No Invoice Temporary</th>
                                <th class="datatable-col-100">Invoice Date</th>
                                <th class="datatable-col-100">Created Date</th>
                                <th class="datatable-col-100">Term Invoice</th>
                                <th class="datatable-col-100">Company</th>
                                <th class="datatable-col-100">Company Invoice</th>
                                <th class="datatable-col-100">Operator</th>
                                <th class="datatable-col-100">Operator Invoice</th>
                                <th class="datatable-col-100">Amount</th>
                                <th class="datatable-col-100">Discount</th>
                                <th class="datatable-col-100">PPN</th>
                                <th class="datatable-col-100">Penalty</th>
                                <th class="datatable-col-100">Currency</th>
                                <th class="datatable-col-250">Invoice Status</th>
                                <th class="datatable-col-70">Invoice Manual</th>
                                <th class="datatable-col-100">Invoice Non Revenue</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="pnlTransaction">
    @*Panel Role Transaction*@
    <div class="row panelTransaction ">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-blue-steel">
                        <i class="fa fa-edit"></i>
                        <span class="caption-subject" id="panelTransactionTitle"></span>
                    </div>
                </div>
                <div class="portlet-body">
                    <form id="formTransaction" class="form-horizontal" role="form">
                        <div class="form-body">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Invoice Temp</label>
                                    <div class="col-md-4">
                                        <input type="text" id="tbInvoiceTemp" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Company</label>
                                    <div class="col-md-4">
                                        <input type="text" id="tbCompany" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Term Invoice</label>
                                    <div class="col-md-4">
                                        <select id="slTermInvoice" class="form-control select2" disabled></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Amount DPP</label>
                                    <div class="col-md-4">
                                        <input type="text" id="tbDPP" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">PPN</label>
                                    <div class="col-md-4">
                                        <input type="text" id="tbPPN" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Discount</label>
                                    <div class="col-md-4">
                                        <input type="text" id="tbDiscount" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Penalty</label>
                                    <div class="col-md-4">
                                        <input type="text" id="tbPenalty" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Total Amount</label>
                                    <div class="col-md-4">
                                        <input type="text" id="tbAmount" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Invoice Date<i class="font-red">*</i></label>
                                    <div class="col-md-4">
                                        <input type="text" id="tbInvoiceDate" size="16" class="form-control date-picker disabledCtrl" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Description<i class="font-red">*</i></label>
                                    <div class="col-md-4">
                                        <textarea class="form-control disabledCtrl" rows="5" id="tbDescription" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Additional Note</label>
                                    <div class="col-md-4">
                                        <input type="text" id="tbAdditionalNote" size="16" class="form-control disabledCtrl">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Operator Address<i class="font-red">*</i></label>
                                    <div class="col-md-4">
                                        <select id="slOperatorRegional" class="form-control select2 disabledCtrl" required></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Signature<i class="font-red">*</i></label>
                                    <div class="col-md-4">
                                        <select id="slSignature" class="form-control select2 disabledCtrl" required></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-9">
                                        <button type="button" class="btn blue-oleo btCancel">
                                            <i class="fa fa-chevron-left"></i> Cancel
                                        </button>
                                        <button type="button" id="btCancelInvoiceTemp" class="btn red mt-ladda-btn ladda-button" data-style="zoom-in">
                                            <i class="fa fa-save"></i> Cancel Invoice
                                        </button>
                                        <button type="submit" id="btPosting" class="btn green-jungle mt-ladda-btn ladda-button" data-style="zoom-in">
                                            <i class="fa fa-save"></i> Posting
                                        </button>
                                        <button type="button" id="btApproveCancel" class="btn blue mt-ladda-btn ladda-button" data-style="zoom-in">
                                            <i class="fa fa-save"></i> Approve
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="mdlCancelInvoice" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Cancel Invoice</h4>
            </div>
            <form id="formReject">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="col-md-12 control-label text-center">Do You Want to Cancel This Invoice?</label>
                            <div class="form-group">
                                <label class="control-label">PICA Type<i class="font-red">*</i></label>
                                <select id="slPicaType" class="form-control select2 disabledCtrl" required></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">PICA Detail<i class="font-red">*</i></label>
                                <select id="slPicaDetail" class="form-control select2 disabledCtrl" required></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Remarks<i class="font-red">*</i></label>
                                <textarea class="form-control disabledCtrl" rows="3" id="tbRemarksCancel" required></textarea>
                            </div>
                            <button type="submit" id="btRequest" class="btn green">
                                <i class="fa fa-check"></i> Request
                            </button>
                            <button type="submit" id="btApprove" class="btn green">
                                <i class="fa fa-check"></i> Approve
                            </button>
                            <button type="submit" id="btReject" class="btn red">
                                <i class="fa fa-times"></i> Reject
                            </button>
                            <button type="button" data-dismiss="modal" id="btNoReject" class="btn blue-oleo">
                                <i class="fa fa-chevron-left"></i> Cancel
                            </button>
                        </div>
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<input type="hidden" id="hdAllowProcess" value="@ViewBag.AllowProcess" />
<input type="text" style="display:none;" id="hdUserCompanyCode" value="@ViewBag.UserCompanyCode" />

<script src="@Url.ContentVersion("~/scripts/invoicetransaction/TrxPostingInvoiceTower.js")" type="text/javascript"></script>


